
<div class="container col-md-4" class="container-fluid	" id="logincontainer">
	<div class="row">
		<div class="col-md-offset-3 col-md-12">

			<%= form_tag users_sessions_path do %>
			  <div class="form-group">
					<h2>User Log in</h2>
			    <%= text_field_tag :email, nil, class: 'form-control', id: 'exampleInputEmail1', placeholder: 'Email' %>
				</div>
			  <div class="form-group">
			    <%= password_field_tag :password, nil, class: 'form-control', id: 'exampleInputPassword1', placeholder: 'Password' %>
			  </div>

				<%= submit_tag 'Submit', id: 'submit1' %> <br>
				<h6 id="or">or</h6>


				<!-- facebook login path -->
				<% if current_user %>

					<%= link_to "Sign out", root_path %>
				<% else %>
				<div id="facebook_login">
					<%= link_to facebook_login_path do %><br>
					<div class="facebook_button">Login with facebook</div>
					<% end %>
				</div>
				<% end %>


			<% end %>
			<div id="uservenuelogin">
			<br />
			<%= link_to 'Create User Account', new_users_path %>
			<%= link_to 'Venue Login', venues_login_path, id: 'venuelogin' %>
			</div>


		</div>
	</div>
</div>

<p id="notice"><%= notice %></p>
