	<img src="" class="img-fluid" alt="Responsive image">
<div class="container col-md-4">
	<div class="row">
		<div class="col-md-offset-3 col-md-12">

			<%= form_tag users_sessions_path do %>
			  <div class="form-group">
					<h2>Inside</h2>
			    <%= text_field_tag :email, nil, class: 'form-control', id: 'exampleInputEmail1', placeholder: 'Email' %>
				</div>
			  <div class="form-group">
			    <%= password_field_tag :password, nil, class: 'form-control', id: 'exampleInputPassword1', placeholder: 'Password' %>
			  </div>
					<%= submit_tag 'Submit' %>
			<% end %>
			<br />
			<%= link_to 'Create User Account', new_users_path %>
			<%= link_to 'Venue Login', venues_login_path, id: 'venuelogin' %>
		</div>
	</div>
</div>
