
<%= form_with(model: venue, remote: true) do |form| %>
	<% if venue.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

			<ul>
				<% venue.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<%= form.label :description %>
	<%= form.text_area :description %>

	<div class="actions">
		<%= form.submit %>
	</div>
	
<% end %>
