
        <%= form_with(model: venue, local: true) do |form| %>
        <% if venue.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

            <ul>
            <% venue.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="container float-left" class="container-fluid" id="venuesignupform">
          <div class="row">
            <div class="col-md-offset-3 col-md-12">
              <div id="venuesignuptext"><h3>Sign up for GitInIt</h3></div>

              <div class="form-group">
                 <%= form.text_field :email,  class: 'form-control',id: 'venuetextbox1', placeholder: 'Email' %>
              </div>
              <div class="form-group">
                 <%= form.text_field :password,  class: 'form-control',id: 'venuetextbox1', placeholder: 'password' %>
              </div>
              <div class="form-group">
                 <%= form.text_field :password_confirmation,  class: 'form-control',id: 'venuetextbox1', placeholder: 'password confirmation' %>
              </div>
              <div class="form-group">
                 <%= form.text_field :name,  class: 'form-control',id: 'venuetextbox1', placeholder: 'Name' %>
              </div>
              <div class="form-group">
                 <%= form.text_field :street,  class: 'form-control',id: 'venuetextbox1', placeholder: 'Street' %>
              </div>
              <div class="form-group">
                 <%= form.text_field :city,  class: 'form-control',id: 'venuetextbox1', placeholder: 'City' %>
              </div>
              <div class="form-group">
                <%= form.label :state %>
               <%= form.select :state, ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], :prompt => 'Select One' %>
              </div>
              <div class="form-group">
                 <%= form.text_field :zipcode,  class: 'form-control',id: 'venuetextbox1', placeholder: 'Zipcode' %>
              </div>

                 <%= submit_tag 'Submit', id: 'submit4' %>
      </div>
    </div>
  </div>
<% end %>
