
<%= @venue.name %>
<%= @venue.email %>
<%= @venue.street %>
<%= @venue.city %>
<%= @venue.state %>
<%= @venue.zipcode %>

<%= @venue.longitude %>
<%= @venue.latitude %>


<ul>
	<% @promotions.each do |promotion| %>
		<li><%= promotion.day_of_week %> - <%= promotion.price %></li>
	<% end %>
</ul>


<%= render 'promotions/form' %>