
<div class="venuepromotioncontainer">

	  <div id="venueheading" class="venue-heading"> <%= @venue.name %></div>

	  <iframe class="venue_google_map" id="googlemap"
		  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBYl8v-DaqCf5siEpRbhdbufAIvt4_T6jQ
		    &q=<%= @venue.address %>" allowfullscreen>
	  </iframe>

	  <div class="venueshowcontainer">
			<div class="venue-address">
				<%= @venue.street %>, <br>
				<%= @venue.city %>, <%= @venue.state %> <%= @venue.zipcode %>
		 </div>

	   <div class="venue-description">
	  	<div id="venue-description-display">
	    <%= @venue.description %>
	  	</div>
	   </div>

	   <div id="edit-desc-form", style="display:none">
	    <%= render 'description', venue: @venue %>
	   </div>

	   <div id="edit-buttons">

				<% if current_venue %>
					<%= link_to "Edit Account" , edit_venue_path, remote: true %>
				<% end %>



				<% if current_venue %>
			    <%= link_to "Edit Description", "#", id: "desc-edit", remote: true %>
			      <!-- <i class="fa fa-pencil" aria-hidden="true"></i> -->
			    <%# end %>
			  <% end %>

		</div>
	</div>
</div>




		<% @promotions.each do |promotion| %>
			<div class="row" id="promotionbuttons">

		    <%= link_to venue_promotion_path(@venue,promotion), remote: true do %>
					<div class="venue-button col-md-12">
						<%= promotion.day_of_week %> - <%= promotion.price %>
					</div>
				<% end %>

		    <% if current_venue %>
		      <%= link_to edit_venue_promotion_path(@venue,promotion), remote: true  do %>
		        <i class="fa fa-pencil" aria-hidden="true"></i>
		      <% end %>

		      <%= link_to venue_promotion_path(@venue,promotion), data: { confirm: 'Are you sure?' }, method: :delete  do %>
		        <i class="fa fa-times" aria-hidden="true"></i>
		      <% end %>
		    <% end %>

		</div>
	<% end %>

	<div id="promotion-form">
		<% if current_venue %>
			<%= render 'promotions/form', venue: @venue %>
		<% end %>
	</div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>
