<%= form_with(model: [@venue, @venue.promotions.build], remote: true) do |form| %>
	<% if @venue.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@venue.errors.count, "error") %> prohibited this @venue from being saved:</h2>

			<ul>
				<% @venue.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
		
	<%= form.label :day_of_week %>
	<%= form.select :day_of_week, ['Sunday','Monday','Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' ], :prompt => 'Select One' %>
	<br>
	<%= form.label :price %>
	<%= form.number_field(:price, min: 1) %>
	<br>
	<%= form.label :time %>
	<%= form.time_select(:time, {minute_step: 15}) %>
	
	<%= form.submit %>

<% end %>
