<!DOCTYPE html>
<html>
  <head>
    <title>GitInIt</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="navbar navbar-light" style="background-color: #1f2d27;">
      <a class="navbar-brand" href="/">
        <img src="/assets/gitinitlogo.png" href="/"  alt="test" id="navlogo">
        </a>

        <% if current_venue || current_user %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
        <% end %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
            <li class="nav-item">
              <%= link_to current_user.email, users_path(current_user), class: 'nav-link' %>
            </li>

            <li class="nav-item">
              <%= link_to "Edit Account", edit_users_path(current_user) %>
            </li>

            <li class="nav-item">
              <%= link_to 'logout', users_logout_path, class: "nav-link"  %>
            </li>
          <% end %>

          <% if current_venue %>
            <li class="nav-item">
              <%= link_to current_venue.email, venue_path(current_venue), class: 'nav-link'%>

            <li class="nav-item">
              <%= link_to "Edit Account" , edit_venue_path(current_venue), remote: true %>
            </li>

            <li class="nav-item">
              <%= link_to 'Analytics', analytics_path(current_venue), class: 'nav-link'%>
            </li>
            
            <li class="nav-item">
              <%= link_to 'logout', venues_logout_path, class: "nav-link"  %>
            </li>
          <% end %>
        </ul>
      </div>
  </nav>







    <%= yield %>
  </body>
</html>
